In [24]:
import os, sys
import pandas as pd
%load_ext autoreload
%autoreload 2

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from titanic.data import read_data
from settings import DATA_DIR

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Start doing your work

In [32]:
titanic = read_data(file_location=os.path.join(DATA_DIR, 'train.csv'), drop_cols=['Name', 'Ticket'])

In [33]:
titanic.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,71.2833,C85,C
2,3,1,3,female,26.0,0,0,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,53.1000,C123,S
4,5,0,3,male,35.0,0,0,8.0500,NaN,S

In [19]:
titanic.mean()

PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

In [21]:
print("Hello")

Hello